/* TASK 1 */
.shape-container {
  display: flex;
  flex-wrap: wrap;
}

.p2-circle {
  margin: 10px;
  min-width: 100px;
  min-height: 100px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.p2-circle:hover {
  opacity: 0.8;
}

.p2-border {
  border: 3px solid #ccc;
}

.bg-blue {
  background-color: #b2ebf2;
}

.bg-yellow {
  background-color: #fff9c5;
}

.bg-green {
  background-color: #dcedc8;
}

.bg-red {
  background-color: #ffcdd2;
}

.bg-purple {
  background-color: #e1bee7;
}

.bg-orange {
  background-color: #ffe0b2;
}

#gradient-circle {
  background: -webkit-linear-gradient(
    left,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(
    right,
    orange,
    yellow,
    green,
    cyan,
    blue,
    violet
  ); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #c5ffff, #b0afff, #657bff);
}

.float-right {
  float: right;
}

/* GENERAL CLASS CSS */

body {
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Fira Sans", sans-serif;
  color: #0d124a;
  background-color: #fafafa;
}

b,
strong {
  color: #0d124a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  font-family: "Fira Sans";
  line-height: 1.6em;
  font-weight: 600;
  color: #0d124a;
}

h1,
.h1 {
  font-size: 1.75rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1.1rem;
}

h5,
.h5 {
  font-size: 1rem;
  border-bottom: 3px solid #0d124a;
  padding-bottom: 5px;
}

h6,
.h6 {
  font-size: 0.9rem;
}

a,
a:hover {
  color: #037edc;
}

.task-container {
  padding: 1em 4em;
}

.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1em;

  & h1 {
    margin-bottom: 0;
    font-size: 1.75rem;
  }
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}

.image-container {
  position: relative;
  width: 100%
}

.clickable-area {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  cursor: pointer;
  z-index: 1
}

.clickable-area.bottom {
  top: 50%;
}

/* TABLES */

table {
  background-color: #f1f1f1;
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: none;
}

.table thead th {
  vertical-align: bottom;
  /*border-bottom: 2px solid #dee2e6;*/
  border-bottom: none;
}

.table tbody + tbody {
  /*  border-top: 2px solid #dee2e6;*/
}

.table {
  background-color: #f1f1f1;
}

/* LIST GROUP ITEM */

.list-group-item:first-child {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
  border-top: 1px solid #0d124a;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}

.list-group-item {
  padding: 0.75rem;
  background-color: #f1f1f1;
  border: 1px solid #0d124a11;
}
